openapi: 3.2.0
info:
  title: Signal AI Categories API
  description: '# Overview


    The Signal AI API is an HTTP+JSON API offering programmatic access to Signal AI''s decision augmentation platform.'
  version: v1.3
servers:
- url: https://api.signal-ai.com
security:
- OAuth2:
  - default
tags:
- name: Categories
paths:
  /categories/iptc-media-topics:
    get:
      operationId: get-categories-iptc
      tags:
      - Categories
      summary: Get all categories for IPTC Media Topics
      deprecated: true
      responses:
        '200':
          description: Returns all categories for IPTC Media Topics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
  /categories/iptc-media-topics/{id}:
    get:
      operationId: get-category-iptc
      tags:
      - Categories
      summary: Get an IPTC Media Topics category by id
      deprecated: true
      parameters:
      - name: id
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/ResourceId'
      responses:
        '200':
          description: Returns the category for this id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
components:
  schemas:
    Category:
      type: object
      required:
      - id
      - name
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        name:
          type: string
    ResourceId:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
      example: bcd2d868-ed38-4382-b94a-622a30fc3215
    CategoriesResponse:
      type: object
      deprecated: true
      required:
      - categories
      properties:
        categories:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Category'
            - $ref: '#/components/schemas/CategoryDetails'
    CategoryDetails:
      type: object
      required:
      - description
      - external-uri
      properties:
        description:
          type: string
        external-uri:
          type: string
        parent:
          $ref: '#/components/schemas/ResourceId'
        children:
          type: array
          items:
            $ref: '#/components/schemas/ResourceId'
        beta:
          type: boolean
          description: If provided and true, then the classification quality for this category is not guaranteed
        unavailable:
          type: boolean
          description: If provided and true, the Signal platform does not currently recognise this category
    CategoryResponse:
      type: object
      deprecated: true
      required:
      - category
      properties:
        category:
          allOf:
          - $ref: '#/components/schemas/Category'
          - $ref: '#/components/schemas/CategoryDetails'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "To obtain the Bearer Token using the Client ID / Secret pair provided to you:\n\n```bash\ncurl -X POST \\\n  -d 'grant_type=client_credentials' \\\n  -d 'client_id=YOUR_CLIENT_ID' \\\n  -d 'client_secret=YOUR_CLIENT_SECRET' \\\n  https://api.signal-ai.com/auth/token\n```\n\nThis will return the following JSON response:\n\n```json\n{\n    \"access_token\": \"eyJhbGciOi…\",\n    \"expires_in\": 86400,\n    …\n}\n```\n\nYou must send the `access_token` from this response in the Authorization header when making requests to other API endpoints:\n\n```bash\ncurl -H \"Authorization: Bearer eyJhbGciOi…\" \\\n  https://api.signal-ai.com/…\n```\n\nAccess tokens will expire 24 hours from the time they were issued.\n"
      flows:
        clientCredentials:
          tokenUrl: https://api.signal-ai.com/auth/token
          scopes:
            default: Access to discovery endpoints
            search: Access to content search endpoint
            metrics: Access to content metrics endpoint
            affinity: Access to concept affinity endpoints
            events: Access to events endpoint
            risk-events: Access to risk events
            manage-organisation: Access to organisation administration endpoints
x-tagGroups:
- name: Concept Discovery
  tags:
  - Publication sources
  - Topics
  - Entities
  - Categories
- name: Search
  tags:
  - Content Search
- name: Metrics
  tags:
  - Content Metrics
- name: Affinity
  x-displayName: Affinity
  tags:
  - Affinity
- name: Events
  x-displayName: Events
  tags:
  - Events
- name: Risk (Alpha)
  tags:
  - Risk Events
- name: Organisation
  tags:
  - Organisation
