openapi: 3.2.0
info:
  title: Signal AI Affinity API
  description: '# Overview


    The Signal AI API is an HTTP+JSON API offering programmatic access to Signal AI''s decision augmentation platform.'
  version: v1.3
servers:
- url: https://api.signal-ai.com
security:
- OAuth2:
  - default
tags:
- name: Affinity
  description: 'The Affinity API endpoints allow API users to leverage the power of the Signal

    AI Knowledge Graph, derived from billions of documents and updated regularly.'
paths:
  /affinity:
    post:
      operationId: post-affinity
      security:
      - OAuth2:
        - affinity
      tags:
      - Affinity
      summary: Explore concept connections (powered by the Signal AI Knowledge Graph)
      description: 'This endpoint allows you to query the relationships from a source concept (entity or topic) to a set of target concepts (topics or entities) and how these relationships evolve over different months.


        The `relationship.type` parameter allows you to specify the type of relationships you are interested in.

        Currently, the only type of relationship supported is `proximity`


        There are two ways to use this endpoint:


        a. **Querying for specific concepts**: you need to provide as input a list of target-concepts IDs (`target-concepts.ids`) for known concepts that you want to query.


        b. **Discovery**: when you don''t specify an explicit list of target-concepts IDs, the results will be the top relationships in order of proximity to the source-concept for any given month (these entities might differ month-on-month).

        You can also filter the results by concept type(s) of interest (`target-concepts.types` with values: `topic`, `entity/organisation`, `entity/people`, `entity/location`, etc.)

        You can also exclude specific concepts from the results (`target-concepts.exclude.ids`).'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAffinityQuery'
            examples:
              affinity-request:
                $ref: '#/components/examples/post-affinity-request'
      responses:
        '200':
          description: Returns a list of relationships matching the query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAffinityResponse'
              examples:
                affinity-response:
                  $ref: '#/components/examples/post-affinity-response'
components:
  examples:
    post-affinity-response:
      summary: Affinity response
      value:
        source-concept:
          id: d6341968-83df-441c-a869-fa7ae9c22c73
          name: Toyota
          type: entity/organisation
        results:
        - relationship:
            date: 2022-01
            type: proximity
            proximity-score: 0.29267539274752596
            sentiment-score: 0.8865404714899547
          target-concept:
            id: fc31abf2-7b11-4ed5-a7d2-35266057c0dd
            name: Innovation
            type: topic
        - relationship:
            date: 2022-02
            type: proximity
            proximity-score: 0.2751201557751357
            sentiment-score: 0.8560551124002901
          target-concept:
            id: fc31abf2-7b11-4ed5-a7d2-35266057c0dd
            name: Innovation
            type: topic
    post-affinity-request:
      summary: Affinity request
      value:
        relationship:
          type: proximity
          date:
            start: 2022-01
            end: 2022-02
          interval: month
          limit-per-interval: 10
        source-concept:
          id: d6341968-83df-441c-a869-fa7ae9c22c73
        target-concepts:
          ids:
          - fc31abf2-7b11-4ed5-a7d2-35266057c0dd
  schemas:
    Concept:
      type: object
      additionalProperties: false
      required:
      - id
      - type
      - name
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        type:
          $ref: '#/components/schemas/ConceptTypeEnum'
        name:
          type: string
    IntervalType:
      type: string
      enum:
      - month
    RelationshipType:
      type: string
      enum:
      - proximity
    ResourceId:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
      example: bcd2d868-ed38-4382-b94a-622a30fc3215
    YearMonth:
      type: string
      pattern: ^20[0-9]{2}-(0[1-9]|1[0-2])$
      description: A year and month encoded as `YYYY-MM` (e.g. `2023-01`)
      example: 2023-01
    PostAffinityResponse:
      type: object
      required:
      - source-concept
      - results
      additionalProperties: false
      properties:
        source-concept:
          $ref: '#/components/schemas/Concept'
        results:
          type: array
          items:
            type: object
            required:
            - relationship
            - target-concept
            additionalProperties: false
            properties:
              relationship:
                type: object
                required:
                - date
                - type
                - proximity-score
                - sentiment-score
                additionalProperties: false
                properties:
                  date:
                    $ref: '#/components/schemas/YearMonth'
                  type:
                    $ref: '#/components/schemas/RelationshipType'
                  proximity-score:
                    type: number
                    minimum: 0.0
                    maximum: 1.0
                  sentiment-score:
                    type: number
                    minimum: -1.0
                    maximum: 1.0
              target-concept:
                $ref: '#/components/schemas/Concept'
    ConceptIdsObject:
      type: object
      required:
      - ids
      additionalProperties: false
      properties:
        ids:
          type: array
          items:
            $ref: '#/components/schemas/ResourceId'
          uniqueItems: true
          minItems: 1
          maxItems: 100
    PostAffinityQuery:
      type: object
      required:
      - relationship
      - source-concept
      additionalProperties: false
      properties:
        relationship:
          type: object
          required:
          - type
          - date
          - interval
          properties:
            type:
              $ref: '#/components/schemas/RelationshipType'
            date:
              type: object
              required:
              - start
              - end
              properties:
                start:
                  $ref: '#/components/schemas/YearMonth'
                end:
                  $ref: '#/components/schemas/YearMonth'
            interval:
              $ref: '#/components/schemas/IntervalType'
            limit-per-interval:
              type: integer
              default: 10
              minimum: 1
              maximum: 100
        source-concept:
          type: object
          required:
          - id
          properties:
            id:
              $ref: '#/components/schemas/ResourceId'
        target-concepts:
          anyOf:
          - $ref: '#/components/schemas/ConceptIdsObject'
          - type: object
            anyOf:
            - required:
              - types
            - required:
              - exclude
            additionalProperties: false
            properties:
              types:
                type: array
                items:
                  $ref: '#/components/schemas/ConceptTypeEnum'
                uniqueItems: true
                minItems: 1
              exclude:
                $ref: '#/components/schemas/ConceptIdsObject'
    ConceptTypeEnum:
      type: string
      enum:
      - entity
      - entity/person
      - entity/organisation
      - entity/location
      - entity/substance
      - entity/disease
      - entity/product
      - entity/regulation
      - topic
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "To obtain the Bearer Token using the Client ID / Secret pair provided to you:\n\n```bash\ncurl -X POST \\\n  -d 'grant_type=client_credentials' \\\n  -d 'client_id=YOUR_CLIENT_ID' \\\n  -d 'client_secret=YOUR_CLIENT_SECRET' \\\n  https://api.signal-ai.com/auth/token\n```\n\nThis will return the following JSON response:\n\n```json\n{\n    \"access_token\": \"eyJhbGciOi…\",\n    \"expires_in\": 86400,\n    …\n}\n```\n\nYou must send the `access_token` from this response in the Authorization header when making requests to other API endpoints:\n\n```bash\ncurl -H \"Authorization: Bearer eyJhbGciOi…\" \\\n  https://api.signal-ai.com/…\n```\n\nAccess tokens will expire 24 hours from the time they were issued.\n"
      flows:
        clientCredentials:
          tokenUrl: https://api.signal-ai.com/auth/token
          scopes:
            default: Access to discovery endpoints
            search: Access to content search endpoint
            metrics: Access to content metrics endpoint
            affinity: Access to concept affinity endpoints
            events: Access to events endpoint
            risk-events: Access to risk events
            manage-organisation: Access to organisation administration endpoints
x-tagGroups:
- name: Concept Discovery
  tags:
  - Publication sources
  - Topics
  - Entities
  - Categories
- name: Search
  tags:
  - Content Search
- name: Metrics
  tags:
  - Content Metrics
- name: Affinity
  x-displayName: Affinity
  tags:
  - Affinity
- name: Events
  x-displayName: Events
  tags:
  - Events
- name: Risk (Alpha)
  tags:
  - Risk Events
- name: Organisation
  tags:
  - Organisation
