openapi: 3.2.0
info:
  title: Signal AI Entities API
  description: '# Overview


    The Signal AI API is an HTTP+JSON API offering programmatic access to Signal AI''s decision augmentation platform.'
  version: v1.3
servers:
- url: https://api.signal-ai.com
security:
- OAuth2:
  - default
tags:
- name: Entities
paths:
  /entities:
    get:
      operationId: find-entities
      tags:
      - Entities
      summary: Search A.I. trained entities by type and name
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: Any entity whose name contains this search term will match
      - name: type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/EntityType'
      - name: size
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: from-cursor
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Base64String'
        description: Use the `next-cursor` field from a previous response to get the next page of results (see [Pagination](#section/Pagination))
      responses:
        '200':
          description: Returns the list of trained entities matching the search term and type. If no search term is provided, a list containing all entities will be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitiesResponse'
  /entities/{id}:
    get:
      operationId: get-entity
      tags:
      - Entities
      summary: Get an entity by id
      parameters:
      - name: id
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/ResourceId'
      responses:
        '200':
          description: Returns the trained entity for this id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponse'
components:
  schemas:
    ResourceId:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
      example: bcd2d868-ed38-4382-b94a-622a30fc3215
    EntityResponse:
      type: object
      required:
      - entity
      properties:
        entity:
          $ref: '#/components/schemas/Entity'
    Entity:
      type: object
      required:
      - id
      - name
      - type
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        type:
          $ref: '#/components/schemas/EntityType'
        name:
          type: string
    EntitiesResponse:
      type: object
      required:
      - entities
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        next-cursor:
          $ref: '#/components/schemas/Base64String'
    EntityType:
      type: string
      enum:
      - person
      - organisation
      - location
      - substance
      - disease
      - product
      - regulation
    Base64String:
      type: string
      pattern: ^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$
      example: RjQ2RTRBQUEtQTNGRi00MEI3LUE1NEYtNTA0NEQxMjc5NkU3
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "To obtain the Bearer Token using the Client ID / Secret pair provided to you:\n\n```bash\ncurl -X POST \\\n  -d 'grant_type=client_credentials' \\\n  -d 'client_id=YOUR_CLIENT_ID' \\\n  -d 'client_secret=YOUR_CLIENT_SECRET' \\\n  https://api.signal-ai.com/auth/token\n```\n\nThis will return the following JSON response:\n\n```json\n{\n    \"access_token\": \"eyJhbGciOi…\",\n    \"expires_in\": 86400,\n    …\n}\n```\n\nYou must send the `access_token` from this response in the Authorization header when making requests to other API endpoints:\n\n```bash\ncurl -H \"Authorization: Bearer eyJhbGciOi…\" \\\n  https://api.signal-ai.com/…\n```\n\nAccess tokens will expire 24 hours from the time they were issued.\n"
      flows:
        clientCredentials:
          tokenUrl: https://api.signal-ai.com/auth/token
          scopes:
            default: Access to discovery endpoints
            search: Access to content search endpoint
            metrics: Access to content metrics endpoint
            affinity: Access to concept affinity endpoints
            events: Access to events endpoint
            risk-events: Access to risk events
            manage-organisation: Access to organisation administration endpoints
x-tagGroups:
- name: Concept Discovery
  tags:
  - Publication sources
  - Topics
  - Entities
  - Categories
- name: Search
  tags:
  - Content Search
- name: Metrics
  tags:
  - Content Metrics
- name: Affinity
  x-displayName: Affinity
  tags:
  - Affinity
- name: Events
  x-displayName: Events
  tags:
  - Events
- name: Risk (Alpha)
  tags:
  - Risk Events
- name: Organisation
  tags:
  - Organisation
