openapi: 3.2.0
info:
  title: Signal AI Topics API
  description: '# Overview


    The Signal AI API is an HTTP+JSON API offering programmatic access to Signal AI''s decision augmentation platform.'
  version: v1.3
servers:
- url: https://api.signal-ai.com
security:
- OAuth2:
  - default
tags:
- name: Topics
paths:
  /topics/{id}:
    get:
      operationId: get-topic
      tags:
      - Topics
      summary: Get a topic by id
      parameters:
      - name: id
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/ResourceId'
      responses:
        '200':
          description: Returns the trained topic for this id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicResponse'
  /topics:
    get:
      operationId: find-topics
      tags:
      - Topics
      summary: Search A.I. trained topics by name
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: Any topic whose name contains this search term will match
      - name: size
        in: query
        required: false
        schema:
          type: integer
          deprecated: true
      - name: private
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Only return topics which are private to your organisation
      responses:
        '200':
          description: Returns the list of trained topics matching the search term. If no search term is provided, a list containing all topics accessible to the organisation will be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsResponse'
components:
  schemas:
    ResourceId:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
      example: bcd2d868-ed38-4382-b94a-622a30fc3215
    TopicsResponse:
      type: object
      required:
      - topics
      properties:
        topics:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
    TopicResponse:
      type: object
      required:
      - topic
      properties:
        topic:
          $ref: '#/components/schemas/Topic'
    PartialTopic:
      type: object
      required:
      - id
      - name
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        name:
          type: string
    Topic:
      type: object
      allOf:
      - $ref: '#/components/schemas/PartialTopic'
      - properties:
          description:
            type: string
          private:
            type: boolean
      example:
        id: aaca73a5-f4d6-4e40-85c4-8258d4bc63a8
        name: 3D Printing
        description: 3D Printing is a manufacturing process that ...
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "To obtain the Bearer Token using the Client ID / Secret pair provided to you:\n\n```bash\ncurl -X POST \\\n  -d 'grant_type=client_credentials' \\\n  -d 'client_id=YOUR_CLIENT_ID' \\\n  -d 'client_secret=YOUR_CLIENT_SECRET' \\\n  https://api.signal-ai.com/auth/token\n```\n\nThis will return the following JSON response:\n\n```json\n{\n    \"access_token\": \"eyJhbGciOi…\",\n    \"expires_in\": 86400,\n    …\n}\n```\n\nYou must send the `access_token` from this response in the Authorization header when making requests to other API endpoints:\n\n```bash\ncurl -H \"Authorization: Bearer eyJhbGciOi…\" \\\n  https://api.signal-ai.com/…\n```\n\nAccess tokens will expire 24 hours from the time they were issued.\n"
      flows:
        clientCredentials:
          tokenUrl: https://api.signal-ai.com/auth/token
          scopes:
            default: Access to discovery endpoints
            search: Access to content search endpoint
            metrics: Access to content metrics endpoint
            affinity: Access to concept affinity endpoints
            events: Access to events endpoint
            risk-events: Access to risk events
            manage-organisation: Access to organisation administration endpoints
x-tagGroups:
- name: Concept Discovery
  tags:
  - Publication sources
  - Topics
  - Entities
  - Categories
- name: Search
  tags:
  - Content Search
- name: Metrics
  tags:
  - Content Metrics
- name: Affinity
  x-displayName: Affinity
  tags:
  - Affinity
- name: Events
  x-displayName: Events
  tags:
  - Events
- name: Risk (Alpha)
  tags:
  - Risk Events
- name: Organisation
  tags:
  - Organisation
