openapi: 3.2.0
info:
  title: Signal AI Publication sources API
  description: '# Overview


    The Signal AI API is an HTTP+JSON API offering programmatic access to Signal AI''s decision augmentation platform.'
  version: v1.3
servers:
- url: https://api.signal-ai.com
security:
- OAuth2:
  - default
tags:
- name: Publication sources
paths:
  /source-locations:
    get:
      operationId: get-source-locations
      tags:
      - Publication sources
      summary: List available countries of publication
      responses:
        '200':
          description: Returns the list of regions, subregions and countries of publication (based on the United Nations geoscheme), provided as reference for filtering content based on their origin (See the Content Search endpoint documentation for details)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceLocationsResponse'
              examples:
                response:
                  $ref: '#/components/examples/get-source-locations-response'
  /sources:
    get:
      operationId: find-sources
      tags:
      - Publication sources
      summary: Search publication sources
      description: See List available countries of publication to find possible values for `country`, `region` and `subregion`.
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: Any publication whose name contains this search term will match
      - name: size
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: country
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/NameString'
        description: Country name
      - name: region
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/NameString'
        description: Region name
      - name: subregion
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/NameString'
        description: Subregion name
      responses:
        '200':
          description: Returns the list of publication sources matching the search term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcesResponse'
  /sources/{id}:
    get:
      operationId: get-source
      tags:
      - Publication sources
      summary: Get a publication source by id
      parameters:
      - name: id
        required: true
        in: path
        schema:
          $ref: '#/components/schemas/ResourceId'
      responses:
        '200':
          description: Returns the publication source for this id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceResponse'
components:
  schemas:
    Region:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/Subregion'
    SourcesResponse:
      type: object
      required:
      - sources
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
    Country:
      type: string
    Subregion:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    ResourceId:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
      example: bcd2d868-ed38-4382-b94a-622a30fc3215
    Source:
      type: object
      required:
      - id
      - name
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        name:
          type: string
        country:
          type: string
        subregion:
          type: string
        region:
          type: string
      example:
        id: 61e158b0-f3a4-468c-9857-03841aa90ef4
        name: The Newspaper
        country: United Kingdom
        subregion: Northern Europe
        region: Europe
    NameString:
      type: string
      pattern: ^[a-zA-Z-., ]+$
    SourceResponse:
      type: object
      required:
      - source
      properties:
        source:
          $ref: '#/components/schemas/Source'
    SourceLocationsResponse:
      type: object
      required:
      - source-locations
      properties:
        source-locations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Region'
  examples:
    get-source-locations-response:
      value:
        source-locations:
          Americas:
            South America:
            - Argentina
            - Brazil
            - '...'
            Northern America:
            - Canada
            - United States
            - '...'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "To obtain the Bearer Token using the Client ID / Secret pair provided to you:\n\n```bash\ncurl -X POST \\\n  -d 'grant_type=client_credentials' \\\n  -d 'client_id=YOUR_CLIENT_ID' \\\n  -d 'client_secret=YOUR_CLIENT_SECRET' \\\n  https://api.signal-ai.com/auth/token\n```\n\nThis will return the following JSON response:\n\n```json\n{\n    \"access_token\": \"eyJhbGciOi…\",\n    \"expires_in\": 86400,\n    …\n}\n```\n\nYou must send the `access_token` from this response in the Authorization header when making requests to other API endpoints:\n\n```bash\ncurl -H \"Authorization: Bearer eyJhbGciOi…\" \\\n  https://api.signal-ai.com/…\n```\n\nAccess tokens will expire 24 hours from the time they were issued.\n"
      flows:
        clientCredentials:
          tokenUrl: https://api.signal-ai.com/auth/token
          scopes:
            default: Access to discovery endpoints
            search: Access to content search endpoint
            metrics: Access to content metrics endpoint
            affinity: Access to concept affinity endpoints
            events: Access to events endpoint
            risk-events: Access to risk events
            manage-organisation: Access to organisation administration endpoints
x-tagGroups:
- name: Concept Discovery
  tags:
  - Publication sources
  - Topics
  - Entities
  - Categories
- name: Search
  tags:
  - Content Search
- name: Metrics
  tags:
  - Content Metrics
- name: Affinity
  x-displayName: Affinity
  tags:
  - Affinity
- name: Events
  x-displayName: Events
  tags:
  - Events
- name: Risk (Alpha)
  tags:
  - Risk Events
- name: Organisation
  tags:
  - Organisation
